{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('web.static', filename='img/favicon.png') }}"
                class="d-inline-block align-text-top img-thumbnail rounded-circle" width="80">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
            <div class="d-flex">
                <a href="https://github.com/WilliamSampaio/flaskeleton/tree/master" class="btn btn-outline-danger">Fork
                    me on GitHub <ion-icon name="git-branch-outline"></ion-icon></a>
            </div>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col">
            <h1>To Do List</h1>
            <hr>
        </div>
    </div>

    <div class="card shadow mb-5 bg-body rounded">
        <div class="card-header p-3 text-end">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addItemModal">Add
                Item</button>
        </div>
        <div class="card-body">
            <h5 class="card-title">Pending</h5>
            <hr>
            <ul class="list-group">
                <li class="list-group-item">An item</li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Done</h5>
            <hr>
            <ul class="list-group">
                <li class="list-group-item">An item</li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Canceled</h5>
            <hr>
            <ul class="list-group">
                <li class="list-group-item">An item</li>
            </ul>
        </div>
    </div>

</div>

<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addItemModalLabel">New Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addItemForm" action="" method="post">
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" maxlength="50" class="form-control" id="description" name="description">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Status</label>
                        <select class="form-select" id="to_do_status_id" name="to_do_status_id">
                            <option value="1" selected>One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="addItemForm" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}